/* My style sheet begins here*/

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    padding-bottom: 200px;
    
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav1 {
    background-color: antiquewhite
}

.row {
    padding: 0

}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;

}

.img-sm {
    padding-right: 5px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
    
}


.section {
    margin-bottom: 20px;
    margin-top: 40px;
  
  

}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(214, 214, 214);
    text-align: center;
    
   
}

#img-con {
    width: 400px;
    height: auto;
    object-fit: contain;
    float: left;
    margin-right: 30px;
    padding: 10px;
}

P {
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;

}

.card {
  margin-bottom: 30px;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }

#con-sm {
    padding: 10px;
}